.admin-subscriptions(ng-controller="ContribSubscriptionsAdminController as ctrl")
    header
        h1
            span Taiga
            span.green {{sectionName}}
        p.admin-subtitle
            svg.icon.icon-question
                use(xlink:href="#icon-question")
            span Active Plans starting April 30, 2016
            
    section.subscription-plan
        header
            h2 Your Plan
            .plan-options
                button.button-green I want it
                button.button-gray Change Plan
        .plan
            img(
                src=""
                alt=""
            )
            .plan-data
                .plan-name Seed Plan
                ul.plan-info 
                    li Up to 1 private projects + Unlimited public projects
                    li Up to 25 members per private project
            .plan-pricing
                sup $
                span.number 0
                span.frequency /month
                
    aside.subscription-info
        p De momento no tienes proyectos privados, así que creemos que el plan que mejor se ajusta a ti es el Seed Plan. 
        p Puedes cambiar tu plan a uno superior si lo necesitas. 
        p El 30 de abril activaremos los planes de pago y si tienes más de 1 proyecto privado podrás mantener su privacidad haciendo el pago del plan que se adapte a tus necesidades.
        p Nos encanta compartir, así que si mantienes tus proyectos como públicos, te saldrá totalmente gratis. 
        a(
            href=""
            title=""    
        ) más información (FAQ)
