.plans-container.subscribe-plan {
    max-width: 700px;
    .plan-title {
        @include font-size(larger);
    }
    .plan .plan-title {
        @include font-size(large);
        @include font-type(bold);
        text-align: left;
    }
    .plan-taxes {
        color: $gray-light;
        display: block;
        font-size: .9rem;
        margin: .5rem 0 0;
    }
    .interval-options {
        display: flex;
        margin: 0 -.5rem;
        fieldset {
            margin: 0 .5rem;
        }
    }
    .payment-interval {
        margin: 1rem 0 0;
    }
    .project-interval {
        display: none;
        +label {
            background: $gray-light;
        }
        &:checked {
            +label {
                background: $primary-light;
                color: $white;
            }
        }
        &:disabled {
            +label {
                background: $whitish;
                color: $gray-light;
                cursor: not-allowed;
            }
        }
    }
    .project-interval-button {
        @include font-size(large);
        border: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }
    .change-options {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .back {
        margin: 0 1rem;
        text-align: center;
        white-space: nowrap;
    }
    .accept-plan {
        display: block;
        margin: 0 1rem;
        white-space: nowrap;
    }
}
