.plan-pricing

    .pricing-primary(ng-class="{annotation: annotation}")
        span.currency $
        span.number {{ amount }}
        span.frequency(ng-if="frequency && amount") {{ frequency }}
        span.asterisk(ng-if="annotation") *

    .pricing-secondary(ng-if="displayMonthlyTotalYear && interval == 'month' && amount")
        span.currency $
        span.number {{ amount * 12 }}
        span.frequency /{{'SUBSCRIPTIONS.FREQUENCY_YEAR' | translate}}

    .pricing-members(ng-if="membersCount && amount")
        span {{ 'SUBSCRIPTIONS.MEMBERS_COUNT'|translate:{total:membersCount||0}:'messageformat' }}