.lightbox-user-projects {
    .project-name {
        font-size: 1rem;
        font-weight: bold;
    }
    .list-itemtype-project .list-itemtype-project-data-wrapper .icon-private {
        margin: 0 0 0 .2rem;
    }
}
