@mixin plan {
    .plan {
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        display: flex;
        padding: 1rem 0;
    }
    .plan-image {
        flex-grow: 0;
        flex-shrink: 0;
        height: 120px;
        margin-right: 1rem;
        width: 120px;
    }
    .plan-name {
        @include font-size(larger);
        margin-bottom: 1rem;
    }
    .plan-info {
        @include font-size(small);
        color: $gray-light;
        li {
            line-height: 1.2;
            margin-bottom: .25rem;
        }
        .subscribe {
            color: $gray;
            margin-top: .5rem;
            a {
                color: $primary;
            }
        }
    }
    .plan-pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }
    .pricing-primary {
        @include font-type(light);
        .currency {
            @include font-size(xlarge);
            vertical-align: top;
        }
        .number {
            @include font-size(gigantic);
        }
        .asterisk {
            @include font-size(large);
            bottom: .5rem;
            color: $gray-light;
            position: relative;
        }
    }
    .pricing-secondary {
        @include font-type(light);
        color: $gray-light;
        .currency {
            margin-right: .2rem;
        }
        .separator {
            padding: 0 .25rem;
        }
    }
}
