.payment-result {
    align-content: center;
    color: $white;
    display: flex;
    padding: 2rem 1rem;
    &.payment-result-success {
        background: $yellow-green;
    }
    &.payment-result-error {
        background: $red-light;
    }
}

.payment-result {
    align-content: center;
    color: $white;
    display: flex;
    padding: 2rem 1rem;
    &.payment-result-success {
        background: $yellow-green;
    }
    &.payment-result-error {
        background: $red-light;
    }
}

.user-plan {
    border-bottom: 1px solid $whitish;
    border-top: 1px solid $whitish;
    padding: 1.5rem 0;
    .plan-content {
        align-items: flex-start;
        display: flex;
    }
    .plan-label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .plan-image {
        flex-grow: 0;
        flex-shrink: 0;
        height: 120px;
        margin-right: 1.5rem;
        width: 120px;
    }
    .plan-name {
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: .5rem;
    }
    .plan-info {
        flex-grow: 1;
        font-size: 1rem;
        ul {
            list-style: disc;
            margin-left: 1rem;
            li {
                line-height: 1.3;
                margin-bottom: .5rem;
            }
        }
        a {
            color: $primary;
            display: block;
            margin-bottom: .5rem;
        }
    }
    .plan-pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        padding: 0 20px 0 3rem;
    }
    .pricing-primary {
        @include font-type(light);
        .currency {
            @include font-size(xlarge);
            vertical-align: top;
        }
        .number {
            @include font-size(gigantic);
            line-height: 4rem;
        }
        .asterisk {
            @include font-size(large);
            bottom: .5rem;
            color: $gray-light;
            position: relative;
        }
        &.annotation {
            margin-right: -.7rem;
        }
    }
    .pricing-secondary {
        @include font-type(light);
        color: $gray-light;
        font-size: 1.1rem;
        text-align: right;
        .currency {
            margin-right: .2rem;
        }
        .separator {
            padding: 0 .25rem;
        }
    }
    .pricing-members {
        color: $gray-lighter;
        display: block;
        font-size: .9rem;
        text-align: right;
        white-space: nowrap;
    }
}

.plan-members-section {
    border-bottom: 1px solid $whitish;
    padding: 1.5rem 0 2rem;
    .members-label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: .5rem;
        width: 100%;
    }
    p {
        margin: 0;
    }
    .members-link {
        color: $primary;
        margin-left: 1rem;
    }
    .members-container {
        margin: 2rem 0 .5rem 2rem;
    }
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .text {
            padding-right: 10px;
        }
        button {
            white-space: nowrap;
        }
    }
    .notifications-management {
        align-items: center;
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px 0;
        position: relative;
        width: 100%;
        select {
            width: 150px;
        }
        .members-save-button {
            opacity: .2;
            width: 30px;
            &.active {
                cursor: pointer;
                opacity: 1;
            }
        }
        .members-limit-input {
            position: relative;
            input {
                width: 150px;
            }
            span {
                position: absolute;
                right: 25px;
                top: 10px;
            }
        }
    }
}

.plans-container {
    color: $gray;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1rem;
    max-width: 1020px;
    width: 100%;
    .title {
        @include font-type(semibold);
        color: $grayer;
        margin-bottom: 1rem;
    }
    .subtitle {
        color: $grayer;
        font-size: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.plans-table {
    .plan {
        align-items: center;
        background: $white;
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        &:first-child {
            border-top: 1px solid $gray-light;
        }
        &:hover {
            background: lighten($primary-light, 50%);
            cursor: pointer;
            transition: background .2s;
            transition-delay: .1s;
        }
        &.highlighted-plan {
            border: 1px solid $gray-light;
        }
        &.plan-custom {
            &:hover {
                background: $white;
                cursor: default;
            }
        }
    }
    .pill-plan {
        @include font-size(small);
        background: $gray-light;
        color: $white;
        left: calc(50% - 4rem);
        padding: .25rem;
        position: absolute;
        top: -.75rem;
    }
    .plan-image {
        flex-grow: 0;
        flex-shrink: 0;
        height: 70px;
        margin-right: 1rem;
        width: 70px;
    }
    .plan-name {
        @include font-size(xlarge);
        @include font-type(light);
        flex-basis: 120px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 1rem;
    }
    .plan-pricing {
        flex-basis: 130px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: left;
    }
    .pricing-primary {
        @include font-type(light);
        .currency {
            @include font-size(large);
            vertical-align: top;
        }
        .number {
            @include font-size(xlarge);
        }

    }
    .pricing-secondary {
        color: $gray-light;
        .currency {
            margin-right: .2rem;
        }
    }
}

.plan-selector {
    .plan-selector-header {
        align-items: center;
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        h1 {
            color: $primary;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .text {
            margin: 0;
            padding: 20px 0;
        }
        .plan-selector-header-title {
            display: none;
        }
    }
    .plan-selector-body {
        color: $gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5px;
        .plan-option-header {
            margin-bottom: 2em;
            text-align: center;
            .plan-title {
                @include font-type(light);
                color: $gray;
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-bottom: .7rem;
            }
            .plan-subtitle {
                color: $primary-light;
            }
            .label {
                @include font-type(bold);
                color: $gray;
                font-size: .8rem;
                line-height: .8rem;
                margin-left: .2rem;
            }
            .price {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
        .plan-option-body {
            flex-grow: 1;
        }
    }
}

.plan-selector-option {
    background: $mass-white;
    border: 1px solid transparent;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    font-size: .8rem;
    margin: 0 5px;
    padding: 15px;
    position: relative;
    &.basic {
        .plan-subtitle {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
        &.current {
            background: $white;
            border: 1px solid $gray-lighter;
        }
    }
    &.premium {
        .annotation {
            margin: .7em 0 0;
            .label {
                @include font-type(bold);
            }
        }
        .policy {
            background: $white;
            margin: 1rem 0 0;
            padding: .5rem;
        }
        button {
            background: $primary;
            &:hover {
                background: $primary-light;
            }
        }
    }
    &.enterprise {
        font-size: 13px;
        .plan-subtitle {
            line-height: 13px;
        }
        .plan-option-body {
            margin-top: .5rem;
        }
    }
    .annotation {
        text-align: center;
    }
    ul {
        flex: 1 0;
        margin: 0 0 2rem;
        li {
            align-items: center;
            display: flex;
            flex-direction: row;
            span {
                padding-left: 10px;
            }
        }
    }
    svg {
        fill: $primary-light;
        height: 24px;
        margin: .4rem .3rem .4rem .4rem;
        width: 24px;
    }
    .button-gray,
    .button-green {
        font-size: 1.1em;
        padding: .7rem;
    }
    .your-plan {
        border-top: 1px solid $whitish;
        padding: 1.25rem 1rem .5rem;
        text-align: center;
    }
}


.plan-subscription-info {
    padding: 2rem 0;
    a {
        color: $primary;
        display: block;
        margin-bottom: 1rem;
    }
}

.navbar .nav-right .plugin {
    height: 100%;
    padding: 0;
}

.admin-subscriptions {
    display: block;
    max-width: 750px;
    width: 100%;
    h1 {
        @include font-type(semibold);
        color: $primary;
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
}

.blocked-project-message {
    .check-plans {
        display: block;
        padding: .75rem;
    }
}

.plan-members {
    .no-members {
        color: $gray-lighter;
    }
    li {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        &.row {
            border-top: 1px solid $whitish;
        }
    }
}

.plan-member {
    .user {
        align-items: center;
        display: flex;
        flex-grow: 1;
        width: 100%;
        img {
            height: 48px;
            margin-right: 10px;
            width: 48px;
        }
    }

    .projects {
        cursor: pointer;
        display: inline-block;
        flex-grow: 1;
        position: relative;
        width: 100%;
        span {
            color: $primary;
        }
    }

    .actions {
        cursor: pointer;
        flex-grow: 1;
        width: 30px;
    }
}

.create-project-warning p {
    span,
    a {
        display: initial;
        margin: 0;
        &::after {
            content: ' ';
        }
    }
}


.taiga-app-info {
    a {
        color: $primary;

        &.button-green {
            background: $primary-light;
            color: $white;
        }
    }

    .app-code {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 2em;

        input {
            flex-basis: 25px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 2em;
            text-align: center;
            width: auto;
        }
    }

    .taiga-app-screens {
        display: flex;

        img {
            height: 400px;
            margin-bottom: 2em;
            margin-right: 2em;
            margin-top: 1.4em;
        }
    }
}

.cant-own-project-explanation {
    margin-top: 2rem
}