@import 'mixin-plan';

.admin-subscriptions {
    display: block;
    max-width: 650px;
    width: 100%;
    h1 {
        margin-bottom: 2rem;
    }
}

.subscription-your-plan {
    @include plan;
    margin-bottom: 2rem;
    .title {
        @extend %larger;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: .25rem 0;
    }
    button {
        min-width: 130px;
        text-align: center;
    }
}

.subscription-info {
    .title {
        @extend %large;
        @extend %bold;
        margin-bottom: 1rem;
    }
    ul {
        list-style: disc;
        margin-left: 1rem;
    }
    li {
        margin-bottom: 1rem;
        &:last-child {
            list-style: none;
        }
    }
    a {
        color: $primary;
        display: block;
        margin-bottom: 1rem;
    }
}

.blocked-project-message {
    .check-plans {
        display: block;
        padding: .75rem;
    }
}
